In [1]:
print("hello")

hello

In [2]:
num = 23;
print(num)

23

In [4]:
name = "michael"
print(name)

michael

In [5]:
peso = 2323.1
print(peso)

2323.1

In [ ]:
name = input("Enter your name: ")
print("Hi " + name)

In [ ]:
employee = ["mark", "mike", "bob"]
ages = [18, 21, 35]
employee.extend(ages)
employee.append("jie")
employee.insert(2, "aj")
print(employee)

In [21]:
num = (4,5,7,1)
#num[0] = 2;
print(num)

(4, 5, 7, 1)

In [25]:
def hi():
    print("hi")

hi()

hi

In [2]:
def mul(x):
    return x*x
print(mul(5))

25

In [5]:
if 1 == 2:
    print("Hi")
elif 1 == 1: 
    print("World")
else:
    print("Hello, World")

World

In [11]:
# Dictionaries
employeNames = {
    0: "Michael",
    1: "Juan",
}
print(employeNames.get(1))

Juan

In [10]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [6]:
number_grid = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0]
]
for row in number_grid:
    for col in row:
        print(col)

1
2
3
4
5
6
7
8
9
0

In [16]:
'''
hello
'''

# Translator
def translate(phrase):
    translation = ""
    for letter in phrase:
        if letter.lower() in "aeiou":
            if letter.isupper():
                translation = translation + "G"
            else:
                translation = translation + "g"
        else: 
            translation = translation + letter 
    return translation 
print(translate(input("Enter a phrase: ")))

Enter a phrase:  has

hgs

In [31]:
# exception

try: 
    answer = 10/0
    prompt = int(input("Enter a Number: "))
    print(prompt)
except ZeroDivisionError as err: 
    print(err)
except ValueError:
    print("Invalid Input")

division by zero

In [52]:
# reading files

name = open("Names.txt","r") # w - overwrite : r - read : a - rewrite
# print(name.read())
# print(name.readlines())

for names in name.readlines():
    print(names)
name.close()

Michael

Mark

In [59]:
# writing files 

name = open("Names1.txt","a")
name.write("Bob")
name.close()

In [60]:
# writing an simple page

web = open("index.html", "w")
web.write("<p> Hello World</p>")
web.close()

In [29]:
class Student: 
    def __init__(self, name, major, gpa):
        self.name = name
        self.major = major
        self.gpa = gpa
        
    def on_honor_roll(self):
        if self.gpa >= 3.5:
            return True
        else:
            return False

In [30]:
from Student import Student

student1 = Student("Michael", "ComSci", 2.0)
print(student1.gpa)
print(student1.on_honor_roll())

2.0

AttributeError: 'Student' object has no attribute 'on_honor_roll'

In [ ]:
class Question:
    def __init__(self, prompt, answer):
        self.prompt = prompt
        self.answer = answer

question_prompts = [
	"What color are Apples?\n(a) Red/Green\n(b) Purple\n(c) Orange\n\n",
	"What color are Bananas?\n(a) Teal\n(b) Magenta\n(c) Yellow\n\n",
	"What color are Straberries?\n(a) Yellow\n(b) Red\n(c) Blue\n\n"
]

questions = [
	Question(question_prompts[0], "a"),
	Question(question_prompts[1], "c"),
	Question(question_prompts[2], "b"),
]

def run_test(questions):
	score = 0
	for question in questions:
		answer = input(question.prompt)
		if answer == question.answer:
			score += 1
	print("You got " + str(score) + "/" + str(len(questions)) + " correct")
	
run_test(questions)

In [29]:
# inheritance

from Chef import Chef
from ChineseChef import ChineseChef

myChef = Chef()
myChef.make_salad()

myChineseChef = ChineseChef()
myChineseChef.make_chicken()
myChineseChef.make_special_dish()

The chef makes a salad
The chef makes a chicken
The chef makes a special dish